<h1>Carts</h1>
<% if @cart_items.present? %>
<div id="carts">
  <% @cart_items.each do |cart_item| %>
    <div class="card" style="width: 18rem;">
    <% if product.image.attached? %>
      <image src='<%=  image_path(url_for(product.image)) %>'>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= cart_item.product.name %></h5>
      <p class="card-text"><%= cart_item.product.brand %></p>
      <p class="card-text"><%= cart_item.product.price %></p>
      <p class="card-text"><%= cart_item.product.description %></p>
      <%= link_to "Remove Product", removeproduct_path(cart_item.id), class: "btn btn-primary" %>
      <%= link_to "Buy", new_checkout_path, params: [id: cart_item.product.id], method: :get, id: "checkout-button", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>
<% end %>

