<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem;">
    <% if product.image.attached? %>
      <image src='<%=  image_path(url_for(product.image)) %>'>
    <% end %>
    <div class="card-body">
    <h5 class="card-title">Brand : <%= product.brand %></h5>
    <p class="card-text">Name : <%= product.name %></p>
      <p class="card-text">Price : <%= product.price %></p>
      <p class="card-text">Description : <%= product.description %></p>
      <%= link_to "Shop Now", product_path(product.id), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>

