<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem;">
    <% if product.image.attached? %>
      <%= image_tag product.image %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.brand %></p>
      <p class="card-text"><%= product.price %></p>
      <p class="card-text"><%= product.description %></p>
      <%= link_to "AddToCart", addproduct_path(product.id), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>

