<h1> Fill Details to be a seller </h1>
<%= form_with(model: @user_detail, class: "row g-3") do |form| %>
  <div class="col-md-4">
    <%= form.label "Name", class: "form-label" %>
    <%= form.text_field "name", class: "form-control", id: "inputName" %>
  </div>
  <div class="col-md-4">
    <%= form.label "Surname", class: "form-label" %>
    <%= form.text_field "surname", class: "form-control", id: "inputSurname" %>
  </div>
  <div class="col-md-5">
    <%= form.label "Email", class: "form-label" %>
    <%= form.text_field "email", class: "form-control", id: "inputEmail" %>
  </div>
  <div class="col-md-4">
    <%= form.label "Role", class: "form-label" %>
    <%= select_tag "role", options_for_select(["Seller"]), class: "form-select", id: "inputRole" %>
  </div>
  <div class="col-12">
    <%= form.label "Address", class: "form-label" %>
    <%= form.text_field "address", class: "form-control", id: "inputAddress", placeholder: "1234 Main St" %>
  </div>  
  <div class="col-12">
    <%= form.label "Landmark", class: "form-label" %>
    <%= form.text_field "landmark", class: "form-control", id: "inputLandmark", placeholder: "Near to school, square etc." %>
  </div>
  <div class="col-md-4">
    <%= form.label "City", class: "form-label" %>
    <%= form.text_field "city", class: "form-control", id: "inputCity" %>
  </div>
  <div class="col-md-4">
    <%= form.label "State", class: "form-label" %>
    <%= select_tag "state", options_for_select(["Madhya Pradesh", "Rajisthan", "Utter Pradesh", "Andhra Pradesh", "Tamil Nadu"]), class: "form-select", id: "inputState" %>
  </div>
  <div class="col-md-2">
    <%= form.label "Zip", class: "form-label" %>
    <%= form.text_field "zip", class: "form-control", id: "inputZip" %>
  </div>
  <div class="col-md-6">
    <%= form.label "Mobile Number", class: "form-label" %>
    <%= form.text_field "number", class: "form-control", id: "inputNumber" %>
  </div>

  <div class="col-12">
    <%= submit_tag "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
